# =====================
# Eclipse
# =====================
.project
.classpath
.settings/
bin/

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml

# =====================
# Build tools
# =====================
target/
out/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
